.reset-password-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
}

.reset-password-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 700px;
}

.reset-password-container .content .animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.reset-password-container .content .animation-container form {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  text-align: center;
}

.reset-password-container .content .animation-container form h1 {
  margin-bottom: 24px;
}

.reset-password-container .content .animation-container form a {
  color: #f4edf8;
  text-decoration: none;
  transition: 0.2s;
}

.reset-password-container .content .animation-container form a:hover {
  color: #ff9000;
}

.reset-password-container .content .animation-container > a {
  color: #f4edf8;
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.reset-password-container .content .animation-container > a svg {
  margin-right: 16px;
}

.reset-password-container .content .animation-container > a:hover {
  color: #ff9000;
}

.reset-password-container .reset-password-background {
  flex: 1;
  background-image: url('../../assets/sign-in-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
